/* footer */

footer{
    background-color: #ea5174;
    .row{
        .info-pie{
            p{
                margin: 0;
                padding: 1rem*0.6;
                transition: all 2xs;
                &:hover{
                    text-decoration: underline;
                    background-color: #ffb2dd;
                }
            }
        }
    }
}