/* header */

.bg-color-alt{
    background-color: #ff80ab
}

.bg-color-alt2{
    background-color: #ffb2dd
}


header{
    .container-fluid{
        .row{
            div{
                .start-icon{
                    width: 45px;
                    height: auto;
                    transition: all 2s;
                    &:hover{
                        width: 90px;
                        background-color: magenta;    
                    }
                }
            }
            .size-logo{
                width:35%;
                height:auto             
            }
        }
    }
}


header{
    nav{
        .container-fluid{
            a{
                font-family:$font-navbar;
                font-size: 150%;
            }
        }
    }
}
