/* 

@import "vars.scss";
@import "_header.scss";
@import "_sections.scss";
@import "_footer.scss";
@import "_portafolio.scss";



 */

/* variables */

$font-navbar:'DM Sans', sans-serif;
$font-body:'DM Sans', sans-serif;
$font-footer:'DM Sans', sans-serif;


/* header */

.bg-color-alt{
    background-color: #ff80ab
}

.bg-color-alt2{
    background-color: #ffb2dd
}


header{
    .container-fluid{
        .row{
            div{
                .start-icon{
                    width: 30px;
                    height: auto;
                    transition: all 0.8s;
                    &:hover{
                        width: 50px;
                        background-color: #ffb2dd;    
                    }
                }
            }
            .size-logo{
                width:75%;
                height:auto             
            }
        }
    }
}


header{
    nav{
        .container-fluid{
            a{
                font-family:$font-navbar;
                font-size: 150%;
            }
        }
    }
}


/* sections */

section.container-fluid{
    div.row{
        .resaltar:hover{
            transform: scale(1.1);
        }

    }
}

section{
    div.container{
        .row{
            .resaltar:hover{
                transform: scale(1.1);
            }
        }
    }
}



/* footer */

footer{
    background-color: #ea5174;
    margin-bottom: 0;
    .container{
        .row{
            .info-pie{
                h5{
                    font-weight: 800;
                }
                ul{
                    padding-left: 0;
                    li{
                        margin: 0;
                        transition: all 2xs;
                        margin-bottom: 0.5rem;
                        list-style: none;
                        &:hover{
                            text-decoration: underline;
                            background-color: #ffb2dd;
                        }
                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            .fondo{
                a{
                    color: black;
                }
                a.fb{
                    &:hover{
                        color: blue;
                    }
                }
                a.wp{
                    &:hover{
                        color:green
                    }
                }
                a.in{
                    &:hover{
                        color:#bc1888 
                    }
                }
                a.yt{
                    &:hover{
                        color:red
                    }
                }
                a.pt{
                    &:hover{
                        color:darkred 
                    }
                }
                a.tw{
                    &:hover{
                        color:#00acee                    }
                }


            }
            
            }
        }
    }
}




/* portafolio */

#portfolio{
    .portfolio-item{
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
        .portfolio-link{
            position: relative;
            display: block;
            margin: 0 auto;
            .portfolio-hover{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(247, 186, 207,0.6);
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity ease-in-out 0.25s;
                .portfolio-hover-content{
                    font-size: 1.25rem;
                    color: white;
                }
         
            }
            &:hover{
                .portfolio-hover{
                    opacity: 1;
                }
            }
        }
    .portfolio-caption{
        padding: 1.5rem;
        text-align: center;
        background-color: #fff;
        .portfolio-caption-heading{
            font-size: 1.5rem;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 700;
            margin-bottom: 0;
        }
        .portfolio-caption-subheading{
            font-style: italic;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    }    
    }
}

.portfolio-modal{
    .modal-dialog{
        margin: 1rem;
        max-width: 100vw;
    }
    .modal-content{
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
        h2{
            font-size: 3rem;
            line-height: 3rem;
        }
        p{
            margin-bottom: 1rem;
            &.item-intro{
                font-style: italic;
                margin-bottom: 2rem;
                font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        }
        ul{
            &.list-inline{
                margin-bottom: 2rem;
            }
        }
        img{
            margin-bottom: 2rem;
        }
    }
    .close-modal{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        background-color: transparent;
        &:hover{
            opacity: 0.3;
        }
    }
}


@media (min-width: 768px) {

    header{
    .container-fluid{
        .row{
            div{
                .start-icon{
                    width: 35px;
                    &:hover{
                        width: 70px;   
                    }
                }
            }
            .size-logo{
                width:50%;
                height:auto             
            }
        }
    }
}
}



@media (min-width: 1024px) {

    header{
    .container-fluid{
        .row{
            div{
                .start-icon{
                    width: 45px;
                    &:hover{
                        width: 90px;   
                    }
                }
            }
            .size-logo{
                width:30%;
                height:auto             
            }
        }
    }
}
}
