/* 

@import "vars.scss";
@import "_header.scss";
@import "_sections.scss";
@import "_footer.scss";
@import "_portafolio.scss";



 */
/* variables */
/* header */
.bg-color-alt {
  background-color: #ff80ab;
}

.bg-color-alt2 {
  background-color: #ffb2dd;
}

header .container-fluid .row div .start-icon {
  width: 45px;
  height: auto;
  -webkit-transition: all 2s;
  transition: all 2s;
}

header .container-fluid .row div .start-icon:hover {
  width: 90px;
  background-color: #ffb2dd;
}

header .container-fluid .row .size-logo {
  width: 35%;
  height: auto;
}

header nav .container-fluid a {
  font-family: "DM Sans", sans-serif;
  font-size: 150%;
}

/* sections */
section.container-fluid div.row .resaltar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section div.container .row .resaltar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* footer */
footer {
  background-color: #ea5174;
  margin-bottom: 0;
}

footer .container .row .info-pie h5 {
  font-weight: 800;
}

footer .container .row .info-pie ul {
  padding-left: 0;
}

footer .container .row .info-pie ul li {
  margin: 0;
  -webkit-transition: all 2xs;
  transition: all 2xs;
  margin-bottom: 0.5rem;
  list-style: none;
}

footer .container .row .info-pie ul li:hover {
  text-decoration: underline;
  background-color: #ffb2dd;
}

footer .container .row .info-pie ul li a {
  color: black;
  text-decoration: none;
}

footer .container .row .info-pie .fondo a {
  color: black;
}

footer .container .row .info-pie .fondo a.fb:hover {
  color: blue;
}

footer .container .row .info-pie .fondo a.wp:hover {
  color: green;
}

footer .container .row .info-pie .fondo a.in:hover {
  color: #bc1888;
}

footer .container .row .info-pie .fondo a.yt:hover {
  color: red;
}

footer .container .row .info-pie .fondo a.pt:hover {
  color: darkred;
}

footer .container .row .info-pie .fondo a.tw:hover {
  color: #00acee;
}

/* portafolio */
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(247, 186, 207, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}

.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}

.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */